@model List<ShopBanHangHS.Models.CartItem>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@{
    @using ShopBanHangHS.Help
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="container">
    @if (Model == null || Model.Count == 0)
    {
        <div class="spec ">
            <h3>Thanh toán</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <p class="text-info text-center" style="font-size:25px;">
            Giỏ hàng của bạn trống!
        </p>
    }
    else
    {
        <div class="spec ">
            <h3>Thanh toán</h3>
            <div class="ser-t">
                <b></b>
                <span><i></i></span>
                <b class="line"></b>
            </div>
        </div>
        <div class="row">
            <div  class="center_column">
                <div class="row">
                    <div id="left_column" class="column col-sm-12 col-md-12">
                        <form class="form-horizontal" action="/ThanhToan/COD" method="post">
                            <div class="col-sm-6 col-md-6">
                                <div class="detail_ct">
                                        <legend>Địa chỉ giao hàng</legend>
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">Địa chỉ</label>
                                            <div class="col-lg-8">
                                                <textarea required class="form-control input-sm field" placeholder="Vui lòng ghi địa chỉ chi tiết..." name="address" rows="5" style="height:50px;"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-lg-4 control-label">Ghi chú</label>
                                            <div class="col-lg-8">
                                                <textarea required class="form-control input-sm field" placeholder="Vui lòng ghi size của từng sản phẩm vào ô này..." name="note" rows="5" style="height:50px;"></textarea>
                                            </div>
                                        </div>
                                        <fieldset>
                                            <div class="form-group">
                                                <label class="col-lg-4 control-label"></label>
                                                <div class="col-lg-8">
                                                    <input type="submit" style="width:auto;" name="submit_step1" class="btn btn-danger btn-buynow" value="Thanh Toán Trực Tuyến...">
                                                </div>
                                            </div>
                                        </fieldset>                                   
                                </div>  
                            </div> 
                            </form>
                        <form class="form-horizontal">
                            <div class="col-sm-6 col-md-6" >
                              
                                <div class="detail_ct" style="height:auto; min-height:inherit;right:auto">
                                    <legend>Giỏ hàng của bạn</legend>
                                    @{
                                        var data = Context.Session.Get<List<CartItem>>("GioHang");
                                        if (data == null)
                                        {
                                            data = new List<CartItem>();
                                        }
                                        <table class="table" style="background:#FFF; font-size:18px;left:70px;right:140px">
                                            <thead>
                                                <tr>
                                                    <th>Hình</th>
                                                    <th>Sản phẩm</th>
                                                    <th>SL</th>
                                                    <th>Đơn giá</th>
                                                    <th>Thành tiền</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    Double total = 0;
                                                }
                                                @foreach (var item in Model)
                                                {
                                                    <tr style="border-top:1px solid #999;">
                                                        <td>
                                                            <img src="@item.Hinh" width="48">
                                                        </td>
                                                        <td>
                                                            <strong>
                                                                @item.TenSanPham
                                                            </strong>
                                                        </td>
                                                        <td>@item.SoLuong</td>
                                                        <td>@item.DonGia.ToString("#,##0") VNĐ</td>
                                                        <td>@item.ThanhTien.ToString("#,##0") VNĐ</td>
                                                    </tr>
                                                    total += item.ThanhTien;
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td colspan="6">
                                                        <a class="btn btn-default hidden-xs" style="float:right;" href="@Url.Action("Index", "GioHang")">Quay về</a>
                                                        <div class="clr"></div>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    }
                                    <fieldset>
                                        <legend>Tổng</legend>
                                        <table class="table" style="background:#FFF; font-size:20px;">
                                            <tbody>
                                                <tr>
                                                    <td align="right">Tổng tiền:</td>
                                                    <td style="color:red;" align="right">@total.ToString("#,##0") VNĐ</td>
                                                </tr>
                                            </tbody>

                                            <a class="btn btn-primary" style="width:auto;" href="@Url.Action("VNPAY","ThanhToan")">Thanh toán bằng VNPAY</a>
                                            
                                        </table>
                                    </fieldset>
                                </div>
                            </div> <div class="clr"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

